<checkin id="{{mojit_view_id}}">
	{{#onload}}
	<ul>
		<li style="padding:5px;border-radius: 5px; margin: 5px;box-shadow: 0px 0px 5px 1px #ccc; background:#fefefe;">
		<span><i class="icon-facebook-sign"></i> Facebook Friends Checked-in <img src='{{url}}' height=20 /></span>
		</li>
	</ul>					
	{{/onload}}


	{{#allfriends}}
	<ul>
		<li class="panel">
			<div id="bookmarked-friends-scrollable-container">
				<ul> 	
					<li>
						{{#fl}}
						<div class="image">
							<img src="{{imageurl}}" />
							<div class="caption">{{name}}</div>
						</div>
						{{/fl}}	
					</li>	
				</ul>
			</div>
		<li>
	</ul>
	{{/allfriends}}


	{{#friends}}
	<div id="checkin-container">
			<header>Facebook Friends 
				<span class="location">{{#location}}in [{{name}}]{{/location}}</span> 
			</header>
			<div id="bookmarked-friends-scrollable-container">
				<ul> 
					{{#fl}}
					<li>
						<div class="image">
							<img src="{{imageurl}}"/>
							<div class="caption">{{name}}</div>{{#current_location}}<div class="caption"> {{city}}</div>{{/current_location}}
						</div>
					</li>
					{{/fl}}					
				</ul>
			</div>
	</div>
	{{/friends}}

	{{#cities}}
		id:{{id}}
		name:{{name}}
	{{/cities}}


	{{#err}}
	<div class="splash">
		<h2>{{msg}}</h2>
		<a href="{{url_editprofile}}" target="_blank">Edit Facebook Profile</a>
	</div>
	{{/err}}



</checkin>