/* Global */

/* Apply a natural box layout model to all elements */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html {background: url(images/goovepaper.png)}
body {color: #333;}
a {text-decoration: none; color: #722C84;}
li {list-style-type: none;}
.mojit-panel { margin-left:20px; margin-right:20px;margin-top:10px;}

header{-webkit-border-radius:0px;position:relative;margin:0px;padding:8px; }
.header-style-default {font-size:1.2em;border: 1px solid transparent;color: white;text-shadow: 0 1px #000;background-color: #D14836;background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836));
/*text-transform: uppercase;*/}
.debug-console-red {font-size:1.2em;border: 1px solid transparent;color: white;text-shadow: 0 1px #000;text-transform: uppercase;background-color: #D14836;background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836));}
.header-style-blue{font-size:1.2em;border: 1px solid #3079ed;color: #fff;text-shadow: 0 1px rgba(0,0,0,0.1);background-color: #4d90fe;background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);background-image: linear-gradient(top,#4d90fe,#4787ed);}
.header-style-grey{font-size:1.2em;text-shadow: 0px 1px 0 white;color: #444;background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ededed)); }
.header-style-grey2{background: -webkit-linear-gradient(#829AA8,#405A6A);font-size:1.2em;border: 1px solid #677C89;border-bottom-color: #6B808D;border-radius: 3px 3px 0 0;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);color: #fff;text-shadow: 0 1px rgba(0,0,0,0.1);}